@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fundo: #1B1B1C;
    --light: #ffffff;
    --btn: #E3C2B3;
    --texto: #E3C2B3;
    --hover-dark: #2f2f2f;
}

.body {
    background-color: var(--fundo);
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    color: var(--fundo);
    font-weight: 700;
    background-color: var(--btn);
    border: 2px var(--fundo);
}

.btn-primary:hover {
    background-color: var(--hover-dark);
    color: var(--light);
    transform: scale(1.1); 
}

.container-sm {
    border-radius: 50px;
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 45px;
    padding-left: 30px;
}

.bio {
    text-align: center;
    color: var(--texto);
    font-weight: 300;
    background-color: black;
    padding: 10px;
    border-radius: 50px;
}

.title {
    text-align: center;
    font-weight: 500;
    color: var(--texto);
}

.ig {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--texto);
}