@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fundo: #1B1B1C;
    --light: #ffffff;
    --btn: #E3C2B3;
    --texto: #E3C2B3;
}

.body {
    background-color: var(--fundo);
    font-family: 'Montserrat', sans-serif;
}

body.light {
    background: var(--light);
}

.btn-primary {
    color: var(--fundo);
    font-weight: 700;
    background-color: var(--btn);
    border: 2px var(--fundo);
}

.btn-primary:hover {
    background-color: var(--fundo);
    color: var(--btn);
}
.container-sm {
    border-radius: 50px;
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 45px;
    padding-left: 30px;
}

.bio {
    text-align: center;
    color: var(--texto);
    font-weight: 300;
    background-color: black;
    padding: 10px;
    border-radius: 50px;
}

.title {
    text-align: center;
    font-weight: 500;
    color: var(--texto);
}

.ig {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);

}


.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}