@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.body{
    background-color:#1B1B1C;
    font-family: 'Montserrat', sans-serif;
}
.btn-primary {
    color: #1B1B1C;
    font-weight: 700;
    background-color: #E3C2B3;
    border: 2px #E3C2B3;
}

.btn-primary:hover {
    background-color: #1B1B1C;
    color: #E3C2B3;;
}

.container-fluid {
    background-color: #1B1B1C;
}
.container-sm {
    background-color: #1B1B1C;
    border-radius: 50px;
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
}
.ig {
    color: #9DA0E3;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}
.ig:hover {
    color: #9DA0E3;
    text-align: center;
    font-weight: 300;
}
.bio {
    text-align: center;
    color: #E3C2B3;
    font-weight: 300;
}
.title {
    text-align: center;
    font-weight: 500;
    color: #E3C2B3;
}